.app {
    background-color: #000;
}

.navbar {
    opacity: 0.95;
}

.titleGame {
    width: 100%;
    height: 560px;
    overflow: hidden;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 15px;
}

.separator {
    height: 12em;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0) 0%, rgb(0,0,0) 100%);
    position: relative;
    top: -13em;
}

.listing {
    position: relative;
    top: -17em;
}

.boardGame {
    width: 260px;
    height: 150px;
    overflow: hidden;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 15px;
}

